.itens-loja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F0EFEF;
}

.categoria-sem-cosmetico {
  margin-top: 50px;
}

.categoria-sem-cosmetico span {
  text-transform: lowercase;
}

@media (max-width: 1120px){
  .categoria-sem-cosmetico h1{
    font-size: 20px;
  }

  .categoria-sem-cosmetico{
    margin: 10px;
  }
}
